*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.risultato{
  text-align: center;
  width: 50%;
  height: 250px;
  margin: auto;
}

.lista{
  list-style: none;
}

.inserimento-dati{
  margin-bottom: 25px;
}
